{% extends 'catalogue/base.html' %}

{% block title %}
Checkout - iShop
{% endblock %}

{% block content %}
<h4>Checkout</h4>
<hr>
{% if cart %}
    <h4>Your Items:</h4>
    <ul style="list-style-type: square;" class="list-group mb-3">
        {% for item_id, item in cart.items %}
            <li class="list-group-item">
                {{ item.name }} / Price: ${{ item.price }} / Quantity: {{ item.quantity }} / Subtotal: ${{ item.total_price }}
            </li>
        {% endfor %}
    </ul>
    <h4>Total: ${{ total }}</h4>
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'place_order' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Place Order</button>
    </form>
    {% else %}
    <p>You have to login first</p>
    {% endif %}
{% else %}
    <p>Your cart is empty. Please add items to your cart before proceeding.</p>
{% endif %}

{% endblock %}
